.bg-custom{
	background-color: #8080ff;
}
.navbar .nav-item:hover .nav-link{
	background-color: green;
	color: #303f9f;
	border-radius: 12px;
}
.footer-login{
	margin-top: 180px;
} 
.register-footer{
	margin-top: 40px;
}
.bgcolor
{
	background-color:  #8080ff;
}
.text{
	color:white;
}